:root {
    --preto: #141414;
    --branco: #fefefe;
    --azul-1: #004c94;
    --laranja-1: #F7941D;
    --laranja-2: #FDC180;
    --cinza: #3d3d3d80;

    --fonte: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --transition: .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
    transition: var(--transition);
}

body{
    background: var(--preto);
}

.h1 {
    color: var(--laranja-1);
    font-size: 30px;
    font-weight: bold;
    margin: 10px;

}




.filmes {
    display: flex;
    gap: 15px;

}

.filme {
    
    flex: 0 0 auto;
        /* text-align: center; */
}

.filme img {
    width: 300px;
    height: 450px;
    /* width: 100%; */
    border-radius: 5px;
    
}

.info {
    background: var(--cinza);
    color: var(--branco);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;  
    width: 300px;
    height: 175px;     
}

.genero {
    font-size: 15px;
  
}