aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/1f59f7c5-68aa-4917-af29-1edde19df8a3.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/2123078d-084d-4f79-bd9c-d5e49b11e1f7.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/419c5b7b-09db-4ae7-b9d9-1fe21bf2ed24.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/492c6ad9-9322-4c83-afaa-837c2740d21c.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/f510a516-aede-444f-84cf-78c185438e0c.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/cee0ca0a-c7a8-4e36-9d23-073cb93f0b42.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/9f1018ce-5da1-4f25-9e60-5e64c724cb4d.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/92baa432-e31d-4126-a7c8-392a90d4c4d4.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/766afed0-d38f-430b-a799-674dae78857f.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/6c363826-0f1a-4054-b76e-ff4cce6e6248.vsidx
aulas/saida-02-Back-end/Csharp/SaphiraTerrorSoluction/.vs/SaphiraTerrorSoluction/FileContentIndex/2123078d-084d-4f79-bd9c-d5e49b11e1f7.vsidx
projetoVarejo/
VarejoMVC/
