:root {
    --cor-1: #27445D;
    --cor-2: #497D74;
    --cor-3: #71BBB2;
    --cor-4: #EFE9D5;
}

* {
    transition: .3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 5em;
    font-weight: bold;

    transition: .5s ease;
}

.container {
    background-color: var(--cor-1);


    display: flex;
    align-items: center;
    justify-content: center;

    height: 700px;
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;
    padding: 20px;


    .item {
        color: var(--cor-1);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap-reverse;

        height: 200px;
        width: 200px;

        border-radius: 10px;
        border: 2px solid black;
        opacity: .65;

        &:hover {
            opacity: 1;
            cursor: pointer;
            border: 2px solid white

        }

        &:nth-child(1) {
            background-color: var(--cor-2);
            flex-basis: 250px;
            align-self: flex-start;

        }

        &:nth-child(2) {
            background-color: var(--cor-3);
            align-self: center;
        }

        &:nth-child(3) {
            background-color: var(--cor-4);
            flex-basis: 150px;
            align-self: flex-end;
        }
    }
}