.a {
    height: 100vh;
    width: 100vw;

    div {
        height: 90%;
        width: 90%;
    }
}

.a {
    background-color: #330033;
}

.b {
    background-color: #441144;
}

.c {
    background-color: #552255;
}

.d {
    background-color: #663366;
}

.e {
    background-color: #774477;
}

.f {
    background-color: #885588;
}

.g {
    background-color: #996699;
}

.h {
    background-color: #aa77aa;
}

.i {
    background-color: #bb88bb;
}

.j {
    background-color: #cc99cc;
}

.k {
    background-color: #d6a3b8;
}

.l {
    background-color: #e0ada4;
}

.m {
    background-color: #eab890;
}

.n {
    background-color: #f4c27c;
}

.o {
    background-color: #f6b566;
}

.p {
    background-color: #f8a850;
}

.q {
    background-color: #fa9b3a;
}

.r {
    background-color: #fc8e24;
}

.s {
    background-color: #fe810e;
}

.t {
    background-color: #ff7300;
}

.u {
    background-color: #ff6a00;
}

.v {
    background-color: #ff6000;
}

.w {
    background-color: #ff5500;
}

.x {
    background-color: #ff4b00;
}

.y {
    background-color: #ff4000;
}

.z {
    background-color: #ff3600;
}
