@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div class="d-flex p-3 justify-content-evenly w-100 mx-auto flex-wrap">
	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">
		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="" Match="NavLinkMatch.All">
			<span class="mx-auto w-100" aria-hidden="true">Home</span>
		</NavLink>
	</div>

	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">
		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="counter">
			<span class="mx-auto w-100" aria-hidden="true">Counter</span>
		</NavLink>
	</div>

	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">

		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="weather">
			<span class="mx-auto w-100" aria-hidden="true">Weather</span>
		</NavLink>
	</div>
	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">

		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="SimpleList">
			<span class="mx-auto w-100" aria-hidden="true">List</span>
		</NavLink>
	</div>

	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">

		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="BindProperties">
			<span class="mx-auto w-100" aria-hidden="true"> Bind Properties</span>
		</NavLink>
	</div>
	
	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">

		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="Detail">
			<span class="mx-auto w-100" aria-hidden="true">Detail</span>
		</NavLink>
	</div>	<div class="border rounded d-flex justify-content-center" style="height:200px; width:200px;">

		<NavLink class="d-flex nav-link align-items-center text-center w-100" href="OnClickEvent">
			<span class="mx-auto w-100" aria-hidden="true">OnClickEvent</span>
		</NavLink>
	</div>
</div>
